h1, h2, h3, caption {text-align: center; 
    text-decoration:underline;
    color:white
}

p, li, tr, a, label{color:#7fffd4}

.pa::first-letter{
    font-size:44px;
}

table thead th, #p1, label[for="q1"], label[for="q3"], label[for="q5"]{color:deepskyblue}

img {
    width: 80%;
}

body{
    font-family: schoolbell;
    font-size:22px;
    background-color: darkgreen;
    margin-right:20%;
    margin-left:20%;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

header {
    text-align: center;
}


footer {
    text-align: center;
    font-size:11px;
}
