h1, h2, h3 {text-align: center; 
    text-decoration:underline;
    color:white
}

p, li, tr, a, label{color:aquamarine}

#p0::first-letter, #p1::first-letter, #p2::first-letter, #p3::first-letter, #p4::first-letter, #p5::first-letter, #p6::first-letter, #p7::first-letter, #p8::first-letter, #p9::first-letter, #p10::first-letter, #p11::first-letter{
    font-size:44px;
}

table thead tr, #pa, label[for="q1"], label[for="q3"], label[for="q5"]{color:deepskyblue}

img {
    width: 80%;
}

body{
    font-family: schoolbell;
    font-size:22px;
    background-color: darkgreen;
    margin-right:20%;
    margin-left:20%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}


footer {
    text-align: center;
    font-size:11px;
}
